:root {
  --background: rgb(15, 23, 42);
  --primary: rgb(30, 41, 59);
  --secondary: rgb(51, 65, 85);
  --third: rgb(43, 55, 73);
  --color: rgb(203, 213, 225);
  --border: rgb(76, 90, 110);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background);
}

body::-webkit-scrollbar {
  width: 0.1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: var(--color);
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: 1.5px solid var(--border);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo {
  color: var(--color);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 550;
}

.navbar .navbar-nav a {
  color: var(--color);
  font-size: 1.3rem;
  display: inline-block;
  font-weight: 500;
  margin: 0 0 0 1rem;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s;
}

.navbar-logo {
  background-color: red;
}

.navbar-nav {
  background: red;
}

.navbar .navbar-nav a:hover {
  background-color: var(--secondary);
  padding: 0.4rem 1rem;
  border-radius: 5px;
}

#menu {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color);
  padding: 1.4rem 10%;
}

.hero .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: red;
}

.hero .content h1 {
  font-size: 3rem;
  font-weight: 550;
  font-family: "Lora", serif;
}

.hero .content h2 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5em;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.hero .content p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.7rem;
  text-align: center;
}

.hero .content img {
  width: 24%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
