:root {
  --background: rgb(15, 23, 42);
  --primary: rgb(30, 41, 59);
  --secondary: rgb(43, 55, 73);
  --icon: rgb(45, 212, 194);
  --color: rgb(203, 213, 225);
  --border: rgb(76, 90, 110);
  --bg-tag: rgb(25, 51, 64);
  --bg-hover: rgb(22, 32, 50);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
}

body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
  color: var(--color);
  align-items: center;
  padding: 1rem 26%;
  border-bottom: 0.5px solid var(--border);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-logo a {
  color: var(--color);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 550;
  font-family: "Lora", sans-serif;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-logo span {
  color: var(--icon);
  font-weight: 550;
  font-family: "Lora", sans-serif;
}

.navbar .navbar-nav a {
  color: var(--color);
  padding: 0.2rem;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 5px;
}

.navbar .navbar-nav a:hover {
  background-color: var(--secondary);
  color: white;
  border-radius: 5px;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--color);
  padding-top: 5rem;
}

.hero .content {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0.7rem 26%;
}

.hero .content .bio h1 {
  font-size: 2rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  font-family: "Lora", sans-serif;
  margin-bottom: 0.1rem;
}

.hero .content .bio p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.8rem;
  font-weight: 500;
}

.hero .content .bio span {
  color: var(--icon);
  font-family: "Lora", sans-serif;
  font-weight: 600;
}

.social-media {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.hero .content .social-media i {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary);
  border-radius: 50%;
  font-size: 20px;
  color: white;
  line-height: 2.5rem;
  transition: all 0.3s ease-out;
}

.hero .content .social-media ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
}

.hero .content .social-media ul li {
  list-style: none;
}

.hero .content .social-media i:hover {
  background-color: var(--secondary);
  border-radius: 50%;
}

.hero .content .about {
  margin-bottom: 2rem;
}

.hero .content .about h2 {
  color: var(--color);
  font-size: 1.5rem;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 0.7rem;
}

.hero .content .about p {
  color: var(--color);
  text-align: justify;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.hero .content .about span {
  font-style: normal;
  color: var(--icon);
  font-family: "Lora", sans-serif;
  font-weight: 600;
}

.hero .content .project {
  margin-bottom: 7.5rem;
}

.hero .content .project h2 {
  color: var(--color);
  font-size: 1.5rem;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 1.5rem;
}

.project .list-project {
  border-bottom: 1px solid var(--border);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-hover);
  margin-bottom: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.project .list-project {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.project .list-project img {
  width: 20%;
  height: 20%;
  border-radius: 4px;
}

.project .list-project .desc {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .content .project .list-project h3 {
  color: var(--icon);
  font-size: 1rem;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.hero .content .project .list-project p {
  color: var(--color);
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.project .list-project .desc .tag ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  margin-bottom: -1rem;
}

.project .list-project .desc .tag ul li{
  background: var(--bg-tag);
  border-radius: 50px;
  padding: 0.4rem 0.8rem;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 0.2rem;
}

.project .list-project .desc .tag a {
  text-decoration: none;
  color: var(--icon);
  font-size: 0.8rem;
  font-weight: 550;
}

.list-project:hover {
  background-color: var(--primary);
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
